1. Importing pandas

In [2]:
import pandas as pd

/var/folders/l7/6zvx_3v54l94fmd5tlsfmsqw0000gn/T/ipykernel_3540/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

2. Opening a local csv file

In [ ]:
df = pd.read_csv('placement.csv')
df

3. Opening a csv file from an URL/ server

In [6]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"  #place url here
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv: 66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data)
df

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

4. Sep Parameter
<br> Used when data is stored in a tsv file.

In [5]:
df = pd.read_csv('filename.tsv', sep ='/t', names=[]) 
#give names of columns as list if not already present in the tsv file

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

5. Index_col parameter <br> to replace the default pandas index column with a particular column

In [ ]:
df = pd.read_csv("filename.csv", index_col='column_name')

6. Header parameter <br> To convert the first row as header

In [ ]:
df = pd.read_csv('filename.csv', header = 1)

7. use_cols parameter <br> using only needed columns during importing

In [ ]:
df = pd.read_csv("filename.csv", use_cols = ["column names"])

8. Squeeze parameters <br> used to create pandas series object instead of a df

In [ ]:
df = pd.read_csv('filename.csv', squeeze= True)

9. Skiprows/nrows parameter <br> to skip particular rows

In [ ]:
df = pd.read_csv("filename.csv", skiprows=[0,2])
# the list in skiprows can be generated according to some logic using a function as well

In [ ]:
df = pd.read_csv("filename.csv", nrows=100)
# importing only first 100 rows

10.Encoding parameter <br> when the encoding of the dataset is not UTF-8 (as used generally), while ireading the file we face a error called 'UnicodeDecoderError'. To avoid this first understand what encoding is used and then pass that as parameter. Eg.: latin-1

In [ ]:
df = pd.read_csv("filename.csv", encoding='latin-1')

11. Skip bad lines <br> if there are some rows which has more values than the number of features. Eg.: there are 5 columns but some row has 10 values.

In [ ]:
df = pd.read_csv("filename.csv", error_bad_lines=False)

12. dtypes parameter <br> to change dtype of a column

In [ ]:
df = pd.read_csv("filename.csv", dtype={'col_name':int})

13. Handling Dates <br> to keep dates from converting into strings

In [ ]:
df = pd.read_csv("filename.csv", parse_dates=['column_names'])

14.Convertors <br> to rename or modify certain values in a certain column

In [ ]:
def capital(name):
    if name == "rcb":
        return 'RCB'
    else:
        return name

In [ ]:
df = pd.read_csv("filename.csv", converters={'team1':capital})

15. na_values parameter <br> specifying things you want to be considered as NA values

In [ ]:
df = pd.read_csv("filename.csv", na_values=['NA', 'na', '-', ' ', '%'])

16. Loading a huge dataset in chunks <br> if the dataset is huge and difficult to be handled by the machine we can divide it into chunks and then use these chunks in a loop.

In [ ]:
dfs = pd.read_csv("filename.csv", chunksize=2000)

In [ ]:
for chunks in dfs:
    # opertions you want to perform on the dataframe